[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "cmake_bindings/pybind11"]
	path = cmake_bindings/pybind11
	url = https://github.com/pybind/pybind11.git
